/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OperatorTimeEntryAPIService OperatorTimeEntryAPI service
type OperatorTimeEntryAPIService service

type ApiCreateOperatorTimeEntryRequest struct {
	ctx context.Context
	ApiService *OperatorTimeEntryAPIService
	createOperatorTimeEntryRequest *CreateOperatorTimeEntryRequest
}

func (r ApiCreateOperatorTimeEntryRequest) CreateOperatorTimeEntryRequest(createOperatorTimeEntryRequest CreateOperatorTimeEntryRequest) ApiCreateOperatorTimeEntryRequest {
	r.createOperatorTimeEntryRequest = &createOperatorTimeEntryRequest
	return r
}

func (r ApiCreateOperatorTimeEntryRequest) Execute() (*CreateOperatorTimeEntry200Response, *http.Response, error) {
	return r.ApiService.CreateOperatorTimeEntryExecute(r)
}

/*
CreateOperatorTimeEntry Create a operator-time-entry

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateOperatorTimeEntryRequest
*/
func (a *OperatorTimeEntryAPIService) CreateOperatorTimeEntry(ctx context.Context) ApiCreateOperatorTimeEntryRequest {
	return ApiCreateOperatorTimeEntryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateOperatorTimeEntry200Response
func (a *OperatorTimeEntryAPIService) CreateOperatorTimeEntryExecute(r ApiCreateOperatorTimeEntryRequest) (*CreateOperatorTimeEntry200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateOperatorTimeEntry200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorTimeEntryAPIService.CreateOperatorTimeEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator-time-entries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createOperatorTimeEntryRequest == nil {
		return localVarReturnValue, nil, reportError("createOperatorTimeEntryRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createOperatorTimeEntryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteOperatorTimeEntryRequest struct {
	ctx context.Context
	ApiService *OperatorTimeEntryAPIService
	id string
}

func (r ApiDeleteOperatorTimeEntryRequest) Execute() (*CreateOperatorTimeEntry200Response, *http.Response, error) {
	return r.ApiService.DeleteOperatorTimeEntryExecute(r)
}

/*
DeleteOperatorTimeEntry Delete a operator-time-entry

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiDeleteOperatorTimeEntryRequest
*/
func (a *OperatorTimeEntryAPIService) DeleteOperatorTimeEntry(ctx context.Context, id string) ApiDeleteOperatorTimeEntryRequest {
	return ApiDeleteOperatorTimeEntryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateOperatorTimeEntry200Response
func (a *OperatorTimeEntryAPIService) DeleteOperatorTimeEntryExecute(r ApiDeleteOperatorTimeEntryRequest) (*CreateOperatorTimeEntry200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateOperatorTimeEntry200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorTimeEntryAPIService.DeleteOperatorTimeEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator-time-entries/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneOperatorTimeEntryRequest struct {
	ctx context.Context
	ApiService *OperatorTimeEntryAPIService
	id string
}

func (r ApiFindOneOperatorTimeEntryRequest) Execute() (*CreateOperatorTimeEntry200Response, *http.Response, error) {
	return r.ApiService.FindOneOperatorTimeEntryExecute(r)
}

/*
FindOneOperatorTimeEntry Get a single operator-time-entry by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneOperatorTimeEntryRequest
*/
func (a *OperatorTimeEntryAPIService) FindOneOperatorTimeEntry(ctx context.Context, id string) ApiFindOneOperatorTimeEntryRequest {
	return ApiFindOneOperatorTimeEntryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateOperatorTimeEntry200Response
func (a *OperatorTimeEntryAPIService) FindOneOperatorTimeEntryExecute(r ApiFindOneOperatorTimeEntryRequest) (*CreateOperatorTimeEntry200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateOperatorTimeEntry200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorTimeEntryAPIService.FindOneOperatorTimeEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator-time-entries/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOperatorTimeEntryRequest struct {
	ctx context.Context
	ApiService *OperatorTimeEntryAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindOperatorTimeEntryRequest) PaginationPage(paginationPage int32) ApiFindOperatorTimeEntryRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindOperatorTimeEntryRequest) PaginationPageSize(paginationPageSize int32) ApiFindOperatorTimeEntryRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindOperatorTimeEntryRequest) Filters(filters map[string]interface{}) ApiFindOperatorTimeEntryRequest {
	r.filters = &filters
	return r
}

func (r ApiFindOperatorTimeEntryRequest) Sort(sort string) ApiFindOperatorTimeEntryRequest {
	r.sort = &sort
	return r
}

func (r ApiFindOperatorTimeEntryRequest) Populate(populate string) ApiFindOperatorTimeEntryRequest {
	r.populate = &populate
	return r
}

func (r ApiFindOperatorTimeEntryRequest) Execute() (*FindOperatorTimeEntry200Response, *http.Response, error) {
	return r.ApiService.FindOperatorTimeEntryExecute(r)
}

/*
FindOperatorTimeEntry List operator-time-entries

Tracks operator effort (manual + audit-derived) per managed organisation per billing period. Used for transparent customer billing and MSP reporting.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindOperatorTimeEntryRequest
*/
func (a *OperatorTimeEntryAPIService) FindOperatorTimeEntry(ctx context.Context) ApiFindOperatorTimeEntryRequest {
	return ApiFindOperatorTimeEntryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindOperatorTimeEntry200Response
func (a *OperatorTimeEntryAPIService) FindOperatorTimeEntryExecute(r ApiFindOperatorTimeEntryRequest) (*FindOperatorTimeEntry200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindOperatorTimeEntry200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorTimeEntryAPIService.FindOperatorTimeEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator-time-entries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateOperatorTimeEntryRequest struct {
	ctx context.Context
	ApiService *OperatorTimeEntryAPIService
	id string
	createOperatorTimeEntryRequest *CreateOperatorTimeEntryRequest
}

func (r ApiUpdateOperatorTimeEntryRequest) CreateOperatorTimeEntryRequest(createOperatorTimeEntryRequest CreateOperatorTimeEntryRequest) ApiUpdateOperatorTimeEntryRequest {
	r.createOperatorTimeEntryRequest = &createOperatorTimeEntryRequest
	return r
}

func (r ApiUpdateOperatorTimeEntryRequest) Execute() (*CreateOperatorTimeEntry200Response, *http.Response, error) {
	return r.ApiService.UpdateOperatorTimeEntryExecute(r)
}

/*
UpdateOperatorTimeEntry Update a operator-time-entry

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiUpdateOperatorTimeEntryRequest
*/
func (a *OperatorTimeEntryAPIService) UpdateOperatorTimeEntry(ctx context.Context, id string) ApiUpdateOperatorTimeEntryRequest {
	return ApiUpdateOperatorTimeEntryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateOperatorTimeEntry200Response
func (a *OperatorTimeEntryAPIService) UpdateOperatorTimeEntryExecute(r ApiUpdateOperatorTimeEntryRequest) (*CreateOperatorTimeEntry200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateOperatorTimeEntry200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatorTimeEntryAPIService.UpdateOperatorTimeEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/operator-time-entries/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createOperatorTimeEntryRequest == nil {
		return localVarReturnValue, nil, reportError("createOperatorTimeEntryRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createOperatorTimeEntryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
