/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// QuarantinePolicyAPIService QuarantinePolicyAPI service
type QuarantinePolicyAPIService service

type ApiCreateQuarantinePolicyRequest struct {
	ctx context.Context
	ApiService *QuarantinePolicyAPIService
	createQuarantinePolicyRequest *CreateQuarantinePolicyRequest
}

func (r ApiCreateQuarantinePolicyRequest) CreateQuarantinePolicyRequest(createQuarantinePolicyRequest CreateQuarantinePolicyRequest) ApiCreateQuarantinePolicyRequest {
	r.createQuarantinePolicyRequest = &createQuarantinePolicyRequest
	return r
}

func (r ApiCreateQuarantinePolicyRequest) Execute() (*CreateQuarantinePolicy200Response, *http.Response, error) {
	return r.ApiService.CreateQuarantinePolicyExecute(r)
}

/*
CreateQuarantinePolicy Create a quarantine-policy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateQuarantinePolicyRequest
*/
func (a *QuarantinePolicyAPIService) CreateQuarantinePolicy(ctx context.Context) ApiCreateQuarantinePolicyRequest {
	return ApiCreateQuarantinePolicyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateQuarantinePolicy200Response
func (a *QuarantinePolicyAPIService) CreateQuarantinePolicyExecute(r ApiCreateQuarantinePolicyRequest) (*CreateQuarantinePolicy200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateQuarantinePolicy200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuarantinePolicyAPIService.CreateQuarantinePolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quarantine-policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createQuarantinePolicyRequest == nil {
		return localVarReturnValue, nil, reportError("createQuarantinePolicyRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createQuarantinePolicyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteQuarantinePolicyRequest struct {
	ctx context.Context
	ApiService *QuarantinePolicyAPIService
	id string
}

func (r ApiDeleteQuarantinePolicyRequest) Execute() (*CreateQuarantinePolicy200Response, *http.Response, error) {
	return r.ApiService.DeleteQuarantinePolicyExecute(r)
}

/*
DeleteQuarantinePolicy Delete a quarantine-policy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiDeleteQuarantinePolicyRequest
*/
func (a *QuarantinePolicyAPIService) DeleteQuarantinePolicy(ctx context.Context, id string) ApiDeleteQuarantinePolicyRequest {
	return ApiDeleteQuarantinePolicyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateQuarantinePolicy200Response
func (a *QuarantinePolicyAPIService) DeleteQuarantinePolicyExecute(r ApiDeleteQuarantinePolicyRequest) (*CreateQuarantinePolicy200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateQuarantinePolicy200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuarantinePolicyAPIService.DeleteQuarantinePolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quarantine-policies/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneQuarantinePolicyRequest struct {
	ctx context.Context
	ApiService *QuarantinePolicyAPIService
	id string
}

func (r ApiFindOneQuarantinePolicyRequest) Execute() (*CreateQuarantinePolicy200Response, *http.Response, error) {
	return r.ApiService.FindOneQuarantinePolicyExecute(r)
}

/*
FindOneQuarantinePolicy Get a single quarantine-policy by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneQuarantinePolicyRequest
*/
func (a *QuarantinePolicyAPIService) FindOneQuarantinePolicy(ctx context.Context, id string) ApiFindOneQuarantinePolicyRequest {
	return ApiFindOneQuarantinePolicyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateQuarantinePolicy200Response
func (a *QuarantinePolicyAPIService) FindOneQuarantinePolicyExecute(r ApiFindOneQuarantinePolicyRequest) (*CreateQuarantinePolicy200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateQuarantinePolicy200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuarantinePolicyAPIService.FindOneQuarantinePolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quarantine-policies/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindQuarantinePolicyRequest struct {
	ctx context.Context
	ApiService *QuarantinePolicyAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindQuarantinePolicyRequest) PaginationPage(paginationPage int32) ApiFindQuarantinePolicyRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindQuarantinePolicyRequest) PaginationPageSize(paginationPageSize int32) ApiFindQuarantinePolicyRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindQuarantinePolicyRequest) Filters(filters map[string]interface{}) ApiFindQuarantinePolicyRequest {
	r.filters = &filters
	return r
}

func (r ApiFindQuarantinePolicyRequest) Sort(sort string) ApiFindQuarantinePolicyRequest {
	r.sort = &sort
	return r
}

func (r ApiFindQuarantinePolicyRequest) Populate(populate string) ApiFindQuarantinePolicyRequest {
	r.populate = &populate
	return r
}

func (r ApiFindQuarantinePolicyRequest) Execute() (*FindQuarantinePolicy200Response, *http.Response, error) {
	return r.ApiService.FindQuarantinePolicyExecute(r)
}

/*
FindQuarantinePolicy List quarantine-policies

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindQuarantinePolicyRequest
*/
func (a *QuarantinePolicyAPIService) FindQuarantinePolicy(ctx context.Context) ApiFindQuarantinePolicyRequest {
	return ApiFindQuarantinePolicyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindQuarantinePolicy200Response
func (a *QuarantinePolicyAPIService) FindQuarantinePolicyExecute(r ApiFindQuarantinePolicyRequest) (*FindQuarantinePolicy200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindQuarantinePolicy200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuarantinePolicyAPIService.FindQuarantinePolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quarantine-policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateQuarantinePolicyRequest struct {
	ctx context.Context
	ApiService *QuarantinePolicyAPIService
	id string
	createQuarantinePolicyRequest *CreateQuarantinePolicyRequest
}

func (r ApiUpdateQuarantinePolicyRequest) CreateQuarantinePolicyRequest(createQuarantinePolicyRequest CreateQuarantinePolicyRequest) ApiUpdateQuarantinePolicyRequest {
	r.createQuarantinePolicyRequest = &createQuarantinePolicyRequest
	return r
}

func (r ApiUpdateQuarantinePolicyRequest) Execute() (*CreateQuarantinePolicy200Response, *http.Response, error) {
	return r.ApiService.UpdateQuarantinePolicyExecute(r)
}

/*
UpdateQuarantinePolicy Update a quarantine-policy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiUpdateQuarantinePolicyRequest
*/
func (a *QuarantinePolicyAPIService) UpdateQuarantinePolicy(ctx context.Context, id string) ApiUpdateQuarantinePolicyRequest {
	return ApiUpdateQuarantinePolicyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateQuarantinePolicy200Response
func (a *QuarantinePolicyAPIService) UpdateQuarantinePolicyExecute(r ApiUpdateQuarantinePolicyRequest) (*CreateQuarantinePolicy200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateQuarantinePolicy200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuarantinePolicyAPIService.UpdateQuarantinePolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quarantine-policies/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createQuarantinePolicyRequest == nil {
		return localVarReturnValue, nil, reportError("createQuarantinePolicyRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createQuarantinePolicyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
