/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// UserSubscriptionEnrollmentAPIService UserSubscriptionEnrollmentAPI service
type UserSubscriptionEnrollmentAPIService service

type ApiCreateUserSubscriptionEnrollmentRequest struct {
	ctx context.Context
	ApiService *UserSubscriptionEnrollmentAPIService
	createUserSubscriptionEnrollmentRequest *CreateUserSubscriptionEnrollmentRequest
}

func (r ApiCreateUserSubscriptionEnrollmentRequest) CreateUserSubscriptionEnrollmentRequest(createUserSubscriptionEnrollmentRequest CreateUserSubscriptionEnrollmentRequest) ApiCreateUserSubscriptionEnrollmentRequest {
	r.createUserSubscriptionEnrollmentRequest = &createUserSubscriptionEnrollmentRequest
	return r
}

func (r ApiCreateUserSubscriptionEnrollmentRequest) Execute() (*CreateUserSubscriptionEnrollment200Response, *http.Response, error) {
	return r.ApiService.CreateUserSubscriptionEnrollmentExecute(r)
}

/*
CreateUserSubscriptionEnrollment Create a user-subscription-enrollment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateUserSubscriptionEnrollmentRequest
*/
func (a *UserSubscriptionEnrollmentAPIService) CreateUserSubscriptionEnrollment(ctx context.Context) ApiCreateUserSubscriptionEnrollmentRequest {
	return ApiCreateUserSubscriptionEnrollmentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateUserSubscriptionEnrollment200Response
func (a *UserSubscriptionEnrollmentAPIService) CreateUserSubscriptionEnrollmentExecute(r ApiCreateUserSubscriptionEnrollmentRequest) (*CreateUserSubscriptionEnrollment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateUserSubscriptionEnrollment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserSubscriptionEnrollmentAPIService.CreateUserSubscriptionEnrollment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-subscription-enrollments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createUserSubscriptionEnrollmentRequest == nil {
		return localVarReturnValue, nil, reportError("createUserSubscriptionEnrollmentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createUserSubscriptionEnrollmentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteUserSubscriptionEnrollmentRequest struct {
	ctx context.Context
	ApiService *UserSubscriptionEnrollmentAPIService
	id string
}

func (r ApiDeleteUserSubscriptionEnrollmentRequest) Execute() (*CreateUserSubscriptionEnrollment200Response, *http.Response, error) {
	return r.ApiService.DeleteUserSubscriptionEnrollmentExecute(r)
}

/*
DeleteUserSubscriptionEnrollment Delete a user-subscription-enrollment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiDeleteUserSubscriptionEnrollmentRequest
*/
func (a *UserSubscriptionEnrollmentAPIService) DeleteUserSubscriptionEnrollment(ctx context.Context, id string) ApiDeleteUserSubscriptionEnrollmentRequest {
	return ApiDeleteUserSubscriptionEnrollmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateUserSubscriptionEnrollment200Response
func (a *UserSubscriptionEnrollmentAPIService) DeleteUserSubscriptionEnrollmentExecute(r ApiDeleteUserSubscriptionEnrollmentRequest) (*CreateUserSubscriptionEnrollment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateUserSubscriptionEnrollment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserSubscriptionEnrollmentAPIService.DeleteUserSubscriptionEnrollment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-subscription-enrollments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneUserSubscriptionEnrollmentRequest struct {
	ctx context.Context
	ApiService *UserSubscriptionEnrollmentAPIService
	id string
}

func (r ApiFindOneUserSubscriptionEnrollmentRequest) Execute() (*CreateUserSubscriptionEnrollment200Response, *http.Response, error) {
	return r.ApiService.FindOneUserSubscriptionEnrollmentExecute(r)
}

/*
FindOneUserSubscriptionEnrollment Get a single user-subscription-enrollment by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneUserSubscriptionEnrollmentRequest
*/
func (a *UserSubscriptionEnrollmentAPIService) FindOneUserSubscriptionEnrollment(ctx context.Context, id string) ApiFindOneUserSubscriptionEnrollmentRequest {
	return ApiFindOneUserSubscriptionEnrollmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateUserSubscriptionEnrollment200Response
func (a *UserSubscriptionEnrollmentAPIService) FindOneUserSubscriptionEnrollmentExecute(r ApiFindOneUserSubscriptionEnrollmentRequest) (*CreateUserSubscriptionEnrollment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateUserSubscriptionEnrollment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserSubscriptionEnrollmentAPIService.FindOneUserSubscriptionEnrollment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-subscription-enrollments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindUserSubscriptionEnrollmentRequest struct {
	ctx context.Context
	ApiService *UserSubscriptionEnrollmentAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindUserSubscriptionEnrollmentRequest) PaginationPage(paginationPage int32) ApiFindUserSubscriptionEnrollmentRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindUserSubscriptionEnrollmentRequest) PaginationPageSize(paginationPageSize int32) ApiFindUserSubscriptionEnrollmentRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindUserSubscriptionEnrollmentRequest) Filters(filters map[string]interface{}) ApiFindUserSubscriptionEnrollmentRequest {
	r.filters = &filters
	return r
}

func (r ApiFindUserSubscriptionEnrollmentRequest) Sort(sort string) ApiFindUserSubscriptionEnrollmentRequest {
	r.sort = &sort
	return r
}

func (r ApiFindUserSubscriptionEnrollmentRequest) Populate(populate string) ApiFindUserSubscriptionEnrollmentRequest {
	r.populate = &populate
	return r
}

func (r ApiFindUserSubscriptionEnrollmentRequest) Execute() (*FindUserSubscriptionEnrollment200Response, *http.Response, error) {
	return r.ApiService.FindUserSubscriptionEnrollmentExecute(r)
}

/*
FindUserSubscriptionEnrollment List user-subscription-enrollments

F3.USERPLAN.01 — one enrollment per user (oneToOne), tracks the user's personal User Plan lifecycle (trial → active/free → cancelled). Auto-created on user registration (see src/lifecycles/user-kc-sync.ts).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindUserSubscriptionEnrollmentRequest
*/
func (a *UserSubscriptionEnrollmentAPIService) FindUserSubscriptionEnrollment(ctx context.Context) ApiFindUserSubscriptionEnrollmentRequest {
	return ApiFindUserSubscriptionEnrollmentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindUserSubscriptionEnrollment200Response
func (a *UserSubscriptionEnrollmentAPIService) FindUserSubscriptionEnrollmentExecute(r ApiFindUserSubscriptionEnrollmentRequest) (*FindUserSubscriptionEnrollment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindUserSubscriptionEnrollment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserSubscriptionEnrollmentAPIService.FindUserSubscriptionEnrollment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-subscription-enrollments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateUserSubscriptionEnrollmentRequest struct {
	ctx context.Context
	ApiService *UserSubscriptionEnrollmentAPIService
	id string
	createUserSubscriptionEnrollmentRequest *CreateUserSubscriptionEnrollmentRequest
}

func (r ApiUpdateUserSubscriptionEnrollmentRequest) CreateUserSubscriptionEnrollmentRequest(createUserSubscriptionEnrollmentRequest CreateUserSubscriptionEnrollmentRequest) ApiUpdateUserSubscriptionEnrollmentRequest {
	r.createUserSubscriptionEnrollmentRequest = &createUserSubscriptionEnrollmentRequest
	return r
}

func (r ApiUpdateUserSubscriptionEnrollmentRequest) Execute() (*CreateUserSubscriptionEnrollment200Response, *http.Response, error) {
	return r.ApiService.UpdateUserSubscriptionEnrollmentExecute(r)
}

/*
UpdateUserSubscriptionEnrollment Update a user-subscription-enrollment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiUpdateUserSubscriptionEnrollmentRequest
*/
func (a *UserSubscriptionEnrollmentAPIService) UpdateUserSubscriptionEnrollment(ctx context.Context, id string) ApiUpdateUserSubscriptionEnrollmentRequest {
	return ApiUpdateUserSubscriptionEnrollmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateUserSubscriptionEnrollment200Response
func (a *UserSubscriptionEnrollmentAPIService) UpdateUserSubscriptionEnrollmentExecute(r ApiUpdateUserSubscriptionEnrollmentRequest) (*CreateUserSubscriptionEnrollment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateUserSubscriptionEnrollment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserSubscriptionEnrollmentAPIService.UpdateUserSubscriptionEnrollment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user-subscription-enrollments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createUserSubscriptionEnrollmentRequest == nil {
		return localVarReturnValue, nil, reportError("createUserSubscriptionEnrollmentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createUserSubscriptionEnrollmentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
