/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// GiteaToolboxRepositoryAPIService GiteaToolboxRepositoryAPI service
type GiteaToolboxRepositoryAPIService service

type ApiCreateGiteaToolboxRepositoryRequest struct {
	ctx context.Context
	ApiService *GiteaToolboxRepositoryAPIService
	createGiteaToolboxRepositoryRequest *CreateGiteaToolboxRepositoryRequest
}

func (r ApiCreateGiteaToolboxRepositoryRequest) CreateGiteaToolboxRepositoryRequest(createGiteaToolboxRepositoryRequest CreateGiteaToolboxRepositoryRequest) ApiCreateGiteaToolboxRepositoryRequest {
	r.createGiteaToolboxRepositoryRequest = &createGiteaToolboxRepositoryRequest
	return r
}

func (r ApiCreateGiteaToolboxRepositoryRequest) Execute() (*CreateGiteaToolboxRepository200Response, *http.Response, error) {
	return r.ApiService.CreateGiteaToolboxRepositoryExecute(r)
}

/*
CreateGiteaToolboxRepository Create a gitea-toolbox-repository

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateGiteaToolboxRepositoryRequest
*/
func (a *GiteaToolboxRepositoryAPIService) CreateGiteaToolboxRepository(ctx context.Context) ApiCreateGiteaToolboxRepositoryRequest {
	return ApiCreateGiteaToolboxRepositoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateGiteaToolboxRepository200Response
func (a *GiteaToolboxRepositoryAPIService) CreateGiteaToolboxRepositoryExecute(r ApiCreateGiteaToolboxRepositoryRequest) (*CreateGiteaToolboxRepository200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaToolboxRepository200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaToolboxRepositoryAPIService.CreateGiteaToolboxRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-toolbox-repositories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createGiteaToolboxRepositoryRequest == nil {
		return localVarReturnValue, nil, reportError("createGiteaToolboxRepositoryRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createGiteaToolboxRepositoryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteGiteaToolboxRepositoryRequest struct {
	ctx context.Context
	ApiService *GiteaToolboxRepositoryAPIService
	id string
}

func (r ApiDeleteGiteaToolboxRepositoryRequest) Execute() (*CreateGiteaToolboxRepository200Response, *http.Response, error) {
	return r.ApiService.DeleteGiteaToolboxRepositoryExecute(r)
}

/*
DeleteGiteaToolboxRepository Delete a gitea-toolbox-repository

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiDeleteGiteaToolboxRepositoryRequest
*/
func (a *GiteaToolboxRepositoryAPIService) DeleteGiteaToolboxRepository(ctx context.Context, id string) ApiDeleteGiteaToolboxRepositoryRequest {
	return ApiDeleteGiteaToolboxRepositoryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateGiteaToolboxRepository200Response
func (a *GiteaToolboxRepositoryAPIService) DeleteGiteaToolboxRepositoryExecute(r ApiDeleteGiteaToolboxRepositoryRequest) (*CreateGiteaToolboxRepository200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaToolboxRepository200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaToolboxRepositoryAPIService.DeleteGiteaToolboxRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-toolbox-repositories/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindGiteaToolboxRepositoryRequest struct {
	ctx context.Context
	ApiService *GiteaToolboxRepositoryAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindGiteaToolboxRepositoryRequest) PaginationPage(paginationPage int32) ApiFindGiteaToolboxRepositoryRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindGiteaToolboxRepositoryRequest) PaginationPageSize(paginationPageSize int32) ApiFindGiteaToolboxRepositoryRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindGiteaToolboxRepositoryRequest) Filters(filters map[string]interface{}) ApiFindGiteaToolboxRepositoryRequest {
	r.filters = &filters
	return r
}

func (r ApiFindGiteaToolboxRepositoryRequest) Sort(sort string) ApiFindGiteaToolboxRepositoryRequest {
	r.sort = &sort
	return r
}

func (r ApiFindGiteaToolboxRepositoryRequest) Populate(populate string) ApiFindGiteaToolboxRepositoryRequest {
	r.populate = &populate
	return r
}

func (r ApiFindGiteaToolboxRepositoryRequest) Execute() (*FindGiteaToolboxRepository200Response, *http.Response, error) {
	return r.ApiService.FindGiteaToolboxRepositoryExecute(r)
}

/*
FindGiteaToolboxRepository List gitea-toolbox-repositories

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindGiteaToolboxRepositoryRequest
*/
func (a *GiteaToolboxRepositoryAPIService) FindGiteaToolboxRepository(ctx context.Context) ApiFindGiteaToolboxRepositoryRequest {
	return ApiFindGiteaToolboxRepositoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindGiteaToolboxRepository200Response
func (a *GiteaToolboxRepositoryAPIService) FindGiteaToolboxRepositoryExecute(r ApiFindGiteaToolboxRepositoryRequest) (*FindGiteaToolboxRepository200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindGiteaToolboxRepository200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaToolboxRepositoryAPIService.FindGiteaToolboxRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-toolbox-repositories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneGiteaToolboxRepositoryRequest struct {
	ctx context.Context
	ApiService *GiteaToolboxRepositoryAPIService
	id string
}

func (r ApiFindOneGiteaToolboxRepositoryRequest) Execute() (*CreateGiteaToolboxRepository200Response, *http.Response, error) {
	return r.ApiService.FindOneGiteaToolboxRepositoryExecute(r)
}

/*
FindOneGiteaToolboxRepository Get a single gitea-toolbox-repository by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneGiteaToolboxRepositoryRequest
*/
func (a *GiteaToolboxRepositoryAPIService) FindOneGiteaToolboxRepository(ctx context.Context, id string) ApiFindOneGiteaToolboxRepositoryRequest {
	return ApiFindOneGiteaToolboxRepositoryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateGiteaToolboxRepository200Response
func (a *GiteaToolboxRepositoryAPIService) FindOneGiteaToolboxRepositoryExecute(r ApiFindOneGiteaToolboxRepositoryRequest) (*CreateGiteaToolboxRepository200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaToolboxRepository200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaToolboxRepositoryAPIService.FindOneGiteaToolboxRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-toolbox-repositories/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateGiteaToolboxRepositoryRequest struct {
	ctx context.Context
	ApiService *GiteaToolboxRepositoryAPIService
	id string
	createGiteaToolboxRepositoryRequest *CreateGiteaToolboxRepositoryRequest
}

func (r ApiUpdateGiteaToolboxRepositoryRequest) CreateGiteaToolboxRepositoryRequest(createGiteaToolboxRepositoryRequest CreateGiteaToolboxRepositoryRequest) ApiUpdateGiteaToolboxRepositoryRequest {
	r.createGiteaToolboxRepositoryRequest = &createGiteaToolboxRepositoryRequest
	return r
}

func (r ApiUpdateGiteaToolboxRepositoryRequest) Execute() (*CreateGiteaToolboxRepository200Response, *http.Response, error) {
	return r.ApiService.UpdateGiteaToolboxRepositoryExecute(r)
}

/*
UpdateGiteaToolboxRepository Update a gitea-toolbox-repository

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiUpdateGiteaToolboxRepositoryRequest
*/
func (a *GiteaToolboxRepositoryAPIService) UpdateGiteaToolboxRepository(ctx context.Context, id string) ApiUpdateGiteaToolboxRepositoryRequest {
	return ApiUpdateGiteaToolboxRepositoryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateGiteaToolboxRepository200Response
func (a *GiteaToolboxRepositoryAPIService) UpdateGiteaToolboxRepositoryExecute(r ApiUpdateGiteaToolboxRepositoryRequest) (*CreateGiteaToolboxRepository200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaToolboxRepository200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaToolboxRepositoryAPIService.UpdateGiteaToolboxRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-toolbox-repositories/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createGiteaToolboxRepositoryRequest == nil {
		return localVarReturnValue, nil, reportError("createGiteaToolboxRepositoryRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createGiteaToolboxRepositoryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
