/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// GiteaToolboxAPIService GiteaToolboxAPI service
type GiteaToolboxAPIService service

type ApiCreateGiteaToolboxIconRequest struct {
	ctx context.Context
	ApiService *GiteaToolboxAPIService
	createGiteaToolboxIconRequest *CreateGiteaToolboxIconRequest
}

func (r ApiCreateGiteaToolboxIconRequest) CreateGiteaToolboxIconRequest(createGiteaToolboxIconRequest CreateGiteaToolboxIconRequest) ApiCreateGiteaToolboxIconRequest {
	r.createGiteaToolboxIconRequest = &createGiteaToolboxIconRequest
	return r
}

func (r ApiCreateGiteaToolboxIconRequest) Execute() (*CreateGiteaToolboxIcon200Response, *http.Response, error) {
	return r.ApiService.CreateGiteaToolboxIconExecute(r)
}

/*
CreateGiteaToolboxIcon Create a gitea-toolbox-icon

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateGiteaToolboxIconRequest
*/
func (a *GiteaToolboxAPIService) CreateGiteaToolboxIcon(ctx context.Context) ApiCreateGiteaToolboxIconRequest {
	return ApiCreateGiteaToolboxIconRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateGiteaToolboxIcon200Response
func (a *GiteaToolboxAPIService) CreateGiteaToolboxIconExecute(r ApiCreateGiteaToolboxIconRequest) (*CreateGiteaToolboxIcon200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaToolboxIcon200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaToolboxAPIService.CreateGiteaToolboxIcon")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-toolbox-icons"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createGiteaToolboxIconRequest == nil {
		return localVarReturnValue, nil, reportError("createGiteaToolboxIconRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createGiteaToolboxIconRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteGiteaToolboxIconRequest struct {
	ctx context.Context
	ApiService *GiteaToolboxAPIService
	id string
}

func (r ApiDeleteGiteaToolboxIconRequest) Execute() (*CreateGiteaToolboxIcon200Response, *http.Response, error) {
	return r.ApiService.DeleteGiteaToolboxIconExecute(r)
}

/*
DeleteGiteaToolboxIcon Delete a gitea-toolbox-icon

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiDeleteGiteaToolboxIconRequest
*/
func (a *GiteaToolboxAPIService) DeleteGiteaToolboxIcon(ctx context.Context, id string) ApiDeleteGiteaToolboxIconRequest {
	return ApiDeleteGiteaToolboxIconRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateGiteaToolboxIcon200Response
func (a *GiteaToolboxAPIService) DeleteGiteaToolboxIconExecute(r ApiDeleteGiteaToolboxIconRequest) (*CreateGiteaToolboxIcon200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaToolboxIcon200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaToolboxAPIService.DeleteGiteaToolboxIcon")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-toolbox-icons/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindGiteaToolboxIconRequest struct {
	ctx context.Context
	ApiService *GiteaToolboxAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindGiteaToolboxIconRequest) PaginationPage(paginationPage int32) ApiFindGiteaToolboxIconRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindGiteaToolboxIconRequest) PaginationPageSize(paginationPageSize int32) ApiFindGiteaToolboxIconRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindGiteaToolboxIconRequest) Filters(filters map[string]interface{}) ApiFindGiteaToolboxIconRequest {
	r.filters = &filters
	return r
}

func (r ApiFindGiteaToolboxIconRequest) Sort(sort string) ApiFindGiteaToolboxIconRequest {
	r.sort = &sort
	return r
}

func (r ApiFindGiteaToolboxIconRequest) Populate(populate string) ApiFindGiteaToolboxIconRequest {
	r.populate = &populate
	return r
}

func (r ApiFindGiteaToolboxIconRequest) Execute() (*FindGiteaToolboxIcon200Response, *http.Response, error) {
	return r.ApiService.FindGiteaToolboxIconExecute(r)
}

/*
FindGiteaToolboxIcon List gitea-toolbox-icons

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindGiteaToolboxIconRequest
*/
func (a *GiteaToolboxAPIService) FindGiteaToolboxIcon(ctx context.Context) ApiFindGiteaToolboxIconRequest {
	return ApiFindGiteaToolboxIconRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindGiteaToolboxIcon200Response
func (a *GiteaToolboxAPIService) FindGiteaToolboxIconExecute(r ApiFindGiteaToolboxIconRequest) (*FindGiteaToolboxIcon200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindGiteaToolboxIcon200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaToolboxAPIService.FindGiteaToolboxIcon")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-toolbox-icons"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneGiteaToolboxIconRequest struct {
	ctx context.Context
	ApiService *GiteaToolboxAPIService
	id string
}

func (r ApiFindOneGiteaToolboxIconRequest) Execute() (*CreateGiteaToolboxIcon200Response, *http.Response, error) {
	return r.ApiService.FindOneGiteaToolboxIconExecute(r)
}

/*
FindOneGiteaToolboxIcon Get a single gitea-toolbox-icon by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneGiteaToolboxIconRequest
*/
func (a *GiteaToolboxAPIService) FindOneGiteaToolboxIcon(ctx context.Context, id string) ApiFindOneGiteaToolboxIconRequest {
	return ApiFindOneGiteaToolboxIconRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateGiteaToolboxIcon200Response
func (a *GiteaToolboxAPIService) FindOneGiteaToolboxIconExecute(r ApiFindOneGiteaToolboxIconRequest) (*CreateGiteaToolboxIcon200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaToolboxIcon200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaToolboxAPIService.FindOneGiteaToolboxIcon")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-toolbox-icons/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateGiteaToolboxIconRequest struct {
	ctx context.Context
	ApiService *GiteaToolboxAPIService
	id string
	createGiteaToolboxIconRequest *CreateGiteaToolboxIconRequest
}

func (r ApiUpdateGiteaToolboxIconRequest) CreateGiteaToolboxIconRequest(createGiteaToolboxIconRequest CreateGiteaToolboxIconRequest) ApiUpdateGiteaToolboxIconRequest {
	r.createGiteaToolboxIconRequest = &createGiteaToolboxIconRequest
	return r
}

func (r ApiUpdateGiteaToolboxIconRequest) Execute() (*CreateGiteaToolboxIcon200Response, *http.Response, error) {
	return r.ApiService.UpdateGiteaToolboxIconExecute(r)
}

/*
UpdateGiteaToolboxIcon Update a gitea-toolbox-icon

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiUpdateGiteaToolboxIconRequest
*/
func (a *GiteaToolboxAPIService) UpdateGiteaToolboxIcon(ctx context.Context, id string) ApiUpdateGiteaToolboxIconRequest {
	return ApiUpdateGiteaToolboxIconRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateGiteaToolboxIcon200Response
func (a *GiteaToolboxAPIService) UpdateGiteaToolboxIconExecute(r ApiUpdateGiteaToolboxIconRequest) (*CreateGiteaToolboxIcon200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaToolboxIcon200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaToolboxAPIService.UpdateGiteaToolboxIcon")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-toolbox-icons/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createGiteaToolboxIconRequest == nil {
		return localVarReturnValue, nil, reportError("createGiteaToolboxIconRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createGiteaToolboxIconRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
