/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AuthAPIService AuthAPI service
type AuthAPIService service

type ApiAuthCheckSsoEnforcementRequest struct {
	ctx context.Context
	ApiService *AuthAPIService
	authCheckSsoEnforcementRequest *AuthCheckSsoEnforcementRequest
}

func (r ApiAuthCheckSsoEnforcementRequest) AuthCheckSsoEnforcementRequest(authCheckSsoEnforcementRequest AuthCheckSsoEnforcementRequest) ApiAuthCheckSsoEnforcementRequest {
	r.authCheckSsoEnforcementRequest = &authCheckSsoEnforcementRequest
	return r
}

func (r ApiAuthCheckSsoEnforcementRequest) Execute() (*AuthCheckSsoEnforcement200Response, *http.Response, error) {
	return r.ApiService.AuthCheckSsoEnforcementExecute(r)
}

/*
AuthCheckSsoEnforcement Pre-flight check whether an email is bound to an org with SSO enforced (F4.ENTERPRISE.02)

Deliberately public (no auth) — called BEFORE any Keycloak token exists, ahead of a password-grant login attempt, so the frontend can redirect straight to SSO instead of showing a password field. A user belonging to >1 organisation is considered enforced if ANY of their organisations has `sso_enforced: true`. Fails open (`enforced: false`) on any internal error — this is a UX hardening check, not the primary auth gate.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAuthCheckSsoEnforcementRequest
*/
func (a *AuthAPIService) AuthCheckSsoEnforcement(ctx context.Context) ApiAuthCheckSsoEnforcementRequest {
	return ApiAuthCheckSsoEnforcementRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AuthCheckSsoEnforcement200Response
func (a *AuthAPIService) AuthCheckSsoEnforcementExecute(r ApiAuthCheckSsoEnforcementRequest) (*AuthCheckSsoEnforcement200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AuthCheckSsoEnforcement200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthAPIService.AuthCheckSsoEnforcement")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auth/check-sso-enforcement"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authCheckSsoEnforcementRequest == nil {
		return localVarReturnValue, nil, reportError("authCheckSsoEnforcementRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.authCheckSsoEnforcementRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuthUpdateMyProfileRequest struct {
	ctx context.Context
	ApiService *AuthAPIService
	authUpdateMyProfileRequest *AuthUpdateMyProfileRequest
}

func (r ApiAuthUpdateMyProfileRequest) AuthUpdateMyProfileRequest(authUpdateMyProfileRequest AuthUpdateMyProfileRequest) ApiAuthUpdateMyProfileRequest {
	r.authUpdateMyProfileRequest = &authUpdateMyProfileRequest
	return r
}

func (r ApiAuthUpdateMyProfileRequest) Execute() (*http.Response, error) {
	return r.ApiService.AuthUpdateMyProfileExecute(r)
}

/*
AuthUpdateMyProfile Update the authenticated user's profile

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAuthUpdateMyProfileRequest
*/
func (a *AuthAPIService) AuthUpdateMyProfile(ctx context.Context) ApiAuthUpdateMyProfileRequest {
	return ApiAuthUpdateMyProfileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AuthAPIService) AuthUpdateMyProfileExecute(r ApiAuthUpdateMyProfileRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthAPIService.AuthUpdateMyProfile")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/me/profile"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authUpdateMyProfileRequest == nil {
		return nil, reportError("authUpdateMyProfileRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.authUpdateMyProfileRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
