/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CommandExecutionResultAPIService CommandExecutionResultAPI service
type CommandExecutionResultAPIService service

type ApiFindCommandExecutionResultRequest struct {
	ctx context.Context
	ApiService *CommandExecutionResultAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindCommandExecutionResultRequest) PaginationPage(paginationPage int32) ApiFindCommandExecutionResultRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindCommandExecutionResultRequest) PaginationPageSize(paginationPageSize int32) ApiFindCommandExecutionResultRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindCommandExecutionResultRequest) Filters(filters map[string]interface{}) ApiFindCommandExecutionResultRequest {
	r.filters = &filters
	return r
}

func (r ApiFindCommandExecutionResultRequest) Sort(sort string) ApiFindCommandExecutionResultRequest {
	r.sort = &sort
	return r
}

func (r ApiFindCommandExecutionResultRequest) Populate(populate string) ApiFindCommandExecutionResultRequest {
	r.populate = &populate
	return r
}

func (r ApiFindCommandExecutionResultRequest) Execute() (*FindCommandExecutionResult200Response, *http.Response, error) {
	return r.ApiService.FindCommandExecutionResultExecute(r)
}

/*
FindCommandExecutionResult List command-execution-results

Tracks per-agent execution results for remotely dispatched commands (F2.FLEET.07).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindCommandExecutionResultRequest
*/
func (a *CommandExecutionResultAPIService) FindCommandExecutionResult(ctx context.Context) ApiFindCommandExecutionResultRequest {
	return ApiFindCommandExecutionResultRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindCommandExecutionResult200Response
func (a *CommandExecutionResultAPIService) FindCommandExecutionResultExecute(r ApiFindCommandExecutionResultRequest) (*FindCommandExecutionResult200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindCommandExecutionResult200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommandExecutionResultAPIService.FindCommandExecutionResult")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/command-execution-results"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneCommandExecutionResultRequest struct {
	ctx context.Context
	ApiService *CommandExecutionResultAPIService
	id string
}

func (r ApiFindOneCommandExecutionResultRequest) Execute() (*FindOneCommandExecutionResult200Response, *http.Response, error) {
	return r.ApiService.FindOneCommandExecutionResultExecute(r)
}

/*
FindOneCommandExecutionResult Get a single command-execution-result by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneCommandExecutionResultRequest
*/
func (a *CommandExecutionResultAPIService) FindOneCommandExecutionResult(ctx context.Context, id string) ApiFindOneCommandExecutionResultRequest {
	return ApiFindOneCommandExecutionResultRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return FindOneCommandExecutionResult200Response
func (a *CommandExecutionResultAPIService) FindOneCommandExecutionResultExecute(r ApiFindOneCommandExecutionResultRequest) (*FindOneCommandExecutionResult200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindOneCommandExecutionResult200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommandExecutionResultAPIService.FindOneCommandExecutionResult")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/command-execution-results/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
