/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SupportHealthSnapshotAPIService SupportHealthSnapshotAPI service
type SupportHealthSnapshotAPIService service

type ApiCreateSupportHealthSnapshotRequest struct {
	ctx context.Context
	ApiService *SupportHealthSnapshotAPIService
	createSupportHealthSnapshotRequest *CreateSupportHealthSnapshotRequest
}

func (r ApiCreateSupportHealthSnapshotRequest) CreateSupportHealthSnapshotRequest(createSupportHealthSnapshotRequest CreateSupportHealthSnapshotRequest) ApiCreateSupportHealthSnapshotRequest {
	r.createSupportHealthSnapshotRequest = &createSupportHealthSnapshotRequest
	return r
}

func (r ApiCreateSupportHealthSnapshotRequest) Execute() (*CreateSupportHealthSnapshot200Response, *http.Response, error) {
	return r.ApiService.CreateSupportHealthSnapshotExecute(r)
}

/*
CreateSupportHealthSnapshot Create a support-health-snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateSupportHealthSnapshotRequest
*/
func (a *SupportHealthSnapshotAPIService) CreateSupportHealthSnapshot(ctx context.Context) ApiCreateSupportHealthSnapshotRequest {
	return ApiCreateSupportHealthSnapshotRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateSupportHealthSnapshot200Response
func (a *SupportHealthSnapshotAPIService) CreateSupportHealthSnapshotExecute(r ApiCreateSupportHealthSnapshotRequest) (*CreateSupportHealthSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSupportHealthSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupportHealthSnapshotAPIService.CreateSupportHealthSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/support-health-snapshots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createSupportHealthSnapshotRequest == nil {
		return localVarReturnValue, nil, reportError("createSupportHealthSnapshotRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createSupportHealthSnapshotRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteSupportHealthSnapshotRequest struct {
	ctx context.Context
	ApiService *SupportHealthSnapshotAPIService
	id string
}

func (r ApiDeleteSupportHealthSnapshotRequest) Execute() (*CreateSupportHealthSnapshot200Response, *http.Response, error) {
	return r.ApiService.DeleteSupportHealthSnapshotExecute(r)
}

/*
DeleteSupportHealthSnapshot Delete a support-health-snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiDeleteSupportHealthSnapshotRequest
*/
func (a *SupportHealthSnapshotAPIService) DeleteSupportHealthSnapshot(ctx context.Context, id string) ApiDeleteSupportHealthSnapshotRequest {
	return ApiDeleteSupportHealthSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateSupportHealthSnapshot200Response
func (a *SupportHealthSnapshotAPIService) DeleteSupportHealthSnapshotExecute(r ApiDeleteSupportHealthSnapshotRequest) (*CreateSupportHealthSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSupportHealthSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupportHealthSnapshotAPIService.DeleteSupportHealthSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/support-health-snapshots/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneSupportHealthSnapshotRequest struct {
	ctx context.Context
	ApiService *SupportHealthSnapshotAPIService
	id string
}

func (r ApiFindOneSupportHealthSnapshotRequest) Execute() (*CreateSupportHealthSnapshot200Response, *http.Response, error) {
	return r.ApiService.FindOneSupportHealthSnapshotExecute(r)
}

/*
FindOneSupportHealthSnapshot Get a single support-health-snapshot by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneSupportHealthSnapshotRequest
*/
func (a *SupportHealthSnapshotAPIService) FindOneSupportHealthSnapshot(ctx context.Context, id string) ApiFindOneSupportHealthSnapshotRequest {
	return ApiFindOneSupportHealthSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateSupportHealthSnapshot200Response
func (a *SupportHealthSnapshotAPIService) FindOneSupportHealthSnapshotExecute(r ApiFindOneSupportHealthSnapshotRequest) (*CreateSupportHealthSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSupportHealthSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupportHealthSnapshotAPIService.FindOneSupportHealthSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/support-health-snapshots/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindSupportHealthSnapshotRequest struct {
	ctx context.Context
	ApiService *SupportHealthSnapshotAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindSupportHealthSnapshotRequest) PaginationPage(paginationPage int32) ApiFindSupportHealthSnapshotRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindSupportHealthSnapshotRequest) PaginationPageSize(paginationPageSize int32) ApiFindSupportHealthSnapshotRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindSupportHealthSnapshotRequest) Filters(filters map[string]interface{}) ApiFindSupportHealthSnapshotRequest {
	r.filters = &filters
	return r
}

func (r ApiFindSupportHealthSnapshotRequest) Sort(sort string) ApiFindSupportHealthSnapshotRequest {
	r.sort = &sort
	return r
}

func (r ApiFindSupportHealthSnapshotRequest) Populate(populate string) ApiFindSupportHealthSnapshotRequest {
	r.populate = &populate
	return r
}

func (r ApiFindSupportHealthSnapshotRequest) Execute() (*FindSupportHealthSnapshot200Response, *http.Response, error) {
	return r.ApiService.FindSupportHealthSnapshotExecute(r)
}

/*
FindSupportHealthSnapshot List support-health-snapshots

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindSupportHealthSnapshotRequest
*/
func (a *SupportHealthSnapshotAPIService) FindSupportHealthSnapshot(ctx context.Context) ApiFindSupportHealthSnapshotRequest {
	return ApiFindSupportHealthSnapshotRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindSupportHealthSnapshot200Response
func (a *SupportHealthSnapshotAPIService) FindSupportHealthSnapshotExecute(r ApiFindSupportHealthSnapshotRequest) (*FindSupportHealthSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindSupportHealthSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupportHealthSnapshotAPIService.FindSupportHealthSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/support-health-snapshots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateSupportHealthSnapshotRequest struct {
	ctx context.Context
	ApiService *SupportHealthSnapshotAPIService
	id string
	createSupportHealthSnapshotRequest *CreateSupportHealthSnapshotRequest
}

func (r ApiUpdateSupportHealthSnapshotRequest) CreateSupportHealthSnapshotRequest(createSupportHealthSnapshotRequest CreateSupportHealthSnapshotRequest) ApiUpdateSupportHealthSnapshotRequest {
	r.createSupportHealthSnapshotRequest = &createSupportHealthSnapshotRequest
	return r
}

func (r ApiUpdateSupportHealthSnapshotRequest) Execute() (*CreateSupportHealthSnapshot200Response, *http.Response, error) {
	return r.ApiService.UpdateSupportHealthSnapshotExecute(r)
}

/*
UpdateSupportHealthSnapshot Update a support-health-snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiUpdateSupportHealthSnapshotRequest
*/
func (a *SupportHealthSnapshotAPIService) UpdateSupportHealthSnapshot(ctx context.Context, id string) ApiUpdateSupportHealthSnapshotRequest {
	return ApiUpdateSupportHealthSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateSupportHealthSnapshot200Response
func (a *SupportHealthSnapshotAPIService) UpdateSupportHealthSnapshotExecute(r ApiUpdateSupportHealthSnapshotRequest) (*CreateSupportHealthSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateSupportHealthSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupportHealthSnapshotAPIService.UpdateSupportHealthSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/support-health-snapshots/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createSupportHealthSnapshotRequest == nil {
		return localVarReturnValue, nil, reportError("createSupportHealthSnapshotRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createSupportHealthSnapshotRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
