/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// GiteaAppsRepositoryAPIService GiteaAppsRepositoryAPI service
type GiteaAppsRepositoryAPIService service

type ApiCreateGiteaAppsRepositoryRequest struct {
	ctx context.Context
	ApiService *GiteaAppsRepositoryAPIService
	createGiteaAppsRepositoryRequest *CreateGiteaAppsRepositoryRequest
}

func (r ApiCreateGiteaAppsRepositoryRequest) CreateGiteaAppsRepositoryRequest(createGiteaAppsRepositoryRequest CreateGiteaAppsRepositoryRequest) ApiCreateGiteaAppsRepositoryRequest {
	r.createGiteaAppsRepositoryRequest = &createGiteaAppsRepositoryRequest
	return r
}

func (r ApiCreateGiteaAppsRepositoryRequest) Execute() (*CreateGiteaAppsRepository200Response, *http.Response, error) {
	return r.ApiService.CreateGiteaAppsRepositoryExecute(r)
}

/*
CreateGiteaAppsRepository Create a gitea-apps-repository

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateGiteaAppsRepositoryRequest
*/
func (a *GiteaAppsRepositoryAPIService) CreateGiteaAppsRepository(ctx context.Context) ApiCreateGiteaAppsRepositoryRequest {
	return ApiCreateGiteaAppsRepositoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateGiteaAppsRepository200Response
func (a *GiteaAppsRepositoryAPIService) CreateGiteaAppsRepositoryExecute(r ApiCreateGiteaAppsRepositoryRequest) (*CreateGiteaAppsRepository200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaAppsRepository200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaAppsRepositoryAPIService.CreateGiteaAppsRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-apps-repositories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createGiteaAppsRepositoryRequest == nil {
		return localVarReturnValue, nil, reportError("createGiteaAppsRepositoryRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createGiteaAppsRepositoryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteGiteaAppsRepositoryRequest struct {
	ctx context.Context
	ApiService *GiteaAppsRepositoryAPIService
	id string
}

func (r ApiDeleteGiteaAppsRepositoryRequest) Execute() (*CreateGiteaAppsRepository200Response, *http.Response, error) {
	return r.ApiService.DeleteGiteaAppsRepositoryExecute(r)
}

/*
DeleteGiteaAppsRepository Delete a gitea-apps-repository

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiDeleteGiteaAppsRepositoryRequest
*/
func (a *GiteaAppsRepositoryAPIService) DeleteGiteaAppsRepository(ctx context.Context, id string) ApiDeleteGiteaAppsRepositoryRequest {
	return ApiDeleteGiteaAppsRepositoryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateGiteaAppsRepository200Response
func (a *GiteaAppsRepositoryAPIService) DeleteGiteaAppsRepositoryExecute(r ApiDeleteGiteaAppsRepositoryRequest) (*CreateGiteaAppsRepository200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaAppsRepository200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaAppsRepositoryAPIService.DeleteGiteaAppsRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-apps-repositories/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindGiteaAppsRepositoryRequest struct {
	ctx context.Context
	ApiService *GiteaAppsRepositoryAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindGiteaAppsRepositoryRequest) PaginationPage(paginationPage int32) ApiFindGiteaAppsRepositoryRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindGiteaAppsRepositoryRequest) PaginationPageSize(paginationPageSize int32) ApiFindGiteaAppsRepositoryRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindGiteaAppsRepositoryRequest) Filters(filters map[string]interface{}) ApiFindGiteaAppsRepositoryRequest {
	r.filters = &filters
	return r
}

func (r ApiFindGiteaAppsRepositoryRequest) Sort(sort string) ApiFindGiteaAppsRepositoryRequest {
	r.sort = &sort
	return r
}

func (r ApiFindGiteaAppsRepositoryRequest) Populate(populate string) ApiFindGiteaAppsRepositoryRequest {
	r.populate = &populate
	return r
}

func (r ApiFindGiteaAppsRepositoryRequest) Execute() (*FindGiteaAppsRepository200Response, *http.Response, error) {
	return r.ApiService.FindGiteaAppsRepositoryExecute(r)
}

/*
FindGiteaAppsRepository List gitea-apps-repositories

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindGiteaAppsRepositoryRequest
*/
func (a *GiteaAppsRepositoryAPIService) FindGiteaAppsRepository(ctx context.Context) ApiFindGiteaAppsRepositoryRequest {
	return ApiFindGiteaAppsRepositoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindGiteaAppsRepository200Response
func (a *GiteaAppsRepositoryAPIService) FindGiteaAppsRepositoryExecute(r ApiFindGiteaAppsRepositoryRequest) (*FindGiteaAppsRepository200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindGiteaAppsRepository200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaAppsRepositoryAPIService.FindGiteaAppsRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-apps-repositories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneGiteaAppsRepositoryRequest struct {
	ctx context.Context
	ApiService *GiteaAppsRepositoryAPIService
	id string
}

func (r ApiFindOneGiteaAppsRepositoryRequest) Execute() (*CreateGiteaAppsRepository200Response, *http.Response, error) {
	return r.ApiService.FindOneGiteaAppsRepositoryExecute(r)
}

/*
FindOneGiteaAppsRepository Get a single gitea-apps-repository by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneGiteaAppsRepositoryRequest
*/
func (a *GiteaAppsRepositoryAPIService) FindOneGiteaAppsRepository(ctx context.Context, id string) ApiFindOneGiteaAppsRepositoryRequest {
	return ApiFindOneGiteaAppsRepositoryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateGiteaAppsRepository200Response
func (a *GiteaAppsRepositoryAPIService) FindOneGiteaAppsRepositoryExecute(r ApiFindOneGiteaAppsRepositoryRequest) (*CreateGiteaAppsRepository200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaAppsRepository200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaAppsRepositoryAPIService.FindOneGiteaAppsRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-apps-repositories/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateGiteaAppsRepositoryRequest struct {
	ctx context.Context
	ApiService *GiteaAppsRepositoryAPIService
	id string
	createGiteaAppsRepositoryRequest *CreateGiteaAppsRepositoryRequest
}

func (r ApiUpdateGiteaAppsRepositoryRequest) CreateGiteaAppsRepositoryRequest(createGiteaAppsRepositoryRequest CreateGiteaAppsRepositoryRequest) ApiUpdateGiteaAppsRepositoryRequest {
	r.createGiteaAppsRepositoryRequest = &createGiteaAppsRepositoryRequest
	return r
}

func (r ApiUpdateGiteaAppsRepositoryRequest) Execute() (*CreateGiteaAppsRepository200Response, *http.Response, error) {
	return r.ApiService.UpdateGiteaAppsRepositoryExecute(r)
}

/*
UpdateGiteaAppsRepository Update a gitea-apps-repository

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiUpdateGiteaAppsRepositoryRequest
*/
func (a *GiteaAppsRepositoryAPIService) UpdateGiteaAppsRepository(ctx context.Context, id string) ApiUpdateGiteaAppsRepositoryRequest {
	return ApiUpdateGiteaAppsRepositoryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateGiteaAppsRepository200Response
func (a *GiteaAppsRepositoryAPIService) UpdateGiteaAppsRepositoryExecute(r ApiUpdateGiteaAppsRepositoryRequest) (*CreateGiteaAppsRepository200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateGiteaAppsRepository200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GiteaAppsRepositoryAPIService.UpdateGiteaAppsRepository")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gitea-apps-repositories/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createGiteaAppsRepositoryRequest == nil {
		return localVarReturnValue, nil, reportError("createGiteaAppsRepositoryRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createGiteaAppsRepositoryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
