/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WorkspaceSecurityPostureAPIService WorkspaceSecurityPostureAPI service
type WorkspaceSecurityPostureAPIService service

type ApiFindOneWorkspaceSecurityPostureRequest struct {
	ctx context.Context
	ApiService *WorkspaceSecurityPostureAPIService
	id string
}

func (r ApiFindOneWorkspaceSecurityPostureRequest) Execute() (*FindOneWorkspaceSecurityPosture200Response, *http.Response, error) {
	return r.ApiService.FindOneWorkspaceSecurityPostureExecute(r)
}

/*
FindOneWorkspaceSecurityPosture Get a single workspace-security-posture by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneWorkspaceSecurityPostureRequest
*/
func (a *WorkspaceSecurityPostureAPIService) FindOneWorkspaceSecurityPosture(ctx context.Context, id string) ApiFindOneWorkspaceSecurityPostureRequest {
	return ApiFindOneWorkspaceSecurityPostureRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return FindOneWorkspaceSecurityPosture200Response
func (a *WorkspaceSecurityPostureAPIService) FindOneWorkspaceSecurityPostureExecute(r ApiFindOneWorkspaceSecurityPostureRequest) (*FindOneWorkspaceSecurityPosture200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindOneWorkspaceSecurityPosture200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceSecurityPostureAPIService.FindOneWorkspaceSecurityPosture")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workspace-security-postures/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindWorkspaceSecurityPostureRequest struct {
	ctx context.Context
	ApiService *WorkspaceSecurityPostureAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindWorkspaceSecurityPostureRequest) PaginationPage(paginationPage int32) ApiFindWorkspaceSecurityPostureRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindWorkspaceSecurityPostureRequest) PaginationPageSize(paginationPageSize int32) ApiFindWorkspaceSecurityPostureRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindWorkspaceSecurityPostureRequest) Filters(filters map[string]interface{}) ApiFindWorkspaceSecurityPostureRequest {
	r.filters = &filters
	return r
}

func (r ApiFindWorkspaceSecurityPostureRequest) Sort(sort string) ApiFindWorkspaceSecurityPostureRequest {
	r.sort = &sort
	return r
}

func (r ApiFindWorkspaceSecurityPostureRequest) Populate(populate string) ApiFindWorkspaceSecurityPostureRequest {
	r.populate = &populate
	return r
}

func (r ApiFindWorkspaceSecurityPostureRequest) Execute() (*FindWorkspaceSecurityPosture200Response, *http.Response, error) {
	return r.ApiService.FindWorkspaceSecurityPostureExecute(r)
}

/*
FindWorkspaceSecurityPosture List workspace-security-postures

Google Workspace 2SV and security posture assessments (F2.W.06)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindWorkspaceSecurityPostureRequest
*/
func (a *WorkspaceSecurityPostureAPIService) FindWorkspaceSecurityPosture(ctx context.Context) ApiFindWorkspaceSecurityPostureRequest {
	return ApiFindWorkspaceSecurityPostureRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindWorkspaceSecurityPosture200Response
func (a *WorkspaceSecurityPostureAPIService) FindWorkspaceSecurityPostureExecute(r ApiFindWorkspaceSecurityPostureRequest) (*FindWorkspaceSecurityPosture200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindWorkspaceSecurityPosture200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceSecurityPostureAPIService.FindWorkspaceSecurityPosture")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workspace-security-postures"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
