/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WorkspaceLicenceSnapshotAPIService WorkspaceLicenceSnapshotAPI service
type WorkspaceLicenceSnapshotAPIService service

type ApiCreateWorkspaceLicenceSnapshotRequest struct {
	ctx context.Context
	ApiService *WorkspaceLicenceSnapshotAPIService
	createWorkspaceLicenceSnapshotRequest *CreateWorkspaceLicenceSnapshotRequest
}

func (r ApiCreateWorkspaceLicenceSnapshotRequest) CreateWorkspaceLicenceSnapshotRequest(createWorkspaceLicenceSnapshotRequest CreateWorkspaceLicenceSnapshotRequest) ApiCreateWorkspaceLicenceSnapshotRequest {
	r.createWorkspaceLicenceSnapshotRequest = &createWorkspaceLicenceSnapshotRequest
	return r
}

func (r ApiCreateWorkspaceLicenceSnapshotRequest) Execute() (*CreateWorkspaceLicenceSnapshot200Response, *http.Response, error) {
	return r.ApiService.CreateWorkspaceLicenceSnapshotExecute(r)
}

/*
CreateWorkspaceLicenceSnapshot Create a workspace-licence-snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateWorkspaceLicenceSnapshotRequest
*/
func (a *WorkspaceLicenceSnapshotAPIService) CreateWorkspaceLicenceSnapshot(ctx context.Context) ApiCreateWorkspaceLicenceSnapshotRequest {
	return ApiCreateWorkspaceLicenceSnapshotRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateWorkspaceLicenceSnapshot200Response
func (a *WorkspaceLicenceSnapshotAPIService) CreateWorkspaceLicenceSnapshotExecute(r ApiCreateWorkspaceLicenceSnapshotRequest) (*CreateWorkspaceLicenceSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateWorkspaceLicenceSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceLicenceSnapshotAPIService.CreateWorkspaceLicenceSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workspace-licence-snapshots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createWorkspaceLicenceSnapshotRequest == nil {
		return localVarReturnValue, nil, reportError("createWorkspaceLicenceSnapshotRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createWorkspaceLicenceSnapshotRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteWorkspaceLicenceSnapshotRequest struct {
	ctx context.Context
	ApiService *WorkspaceLicenceSnapshotAPIService
	id string
}

func (r ApiDeleteWorkspaceLicenceSnapshotRequest) Execute() (*CreateWorkspaceLicenceSnapshot200Response, *http.Response, error) {
	return r.ApiService.DeleteWorkspaceLicenceSnapshotExecute(r)
}

/*
DeleteWorkspaceLicenceSnapshot Delete a workspace-licence-snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiDeleteWorkspaceLicenceSnapshotRequest
*/
func (a *WorkspaceLicenceSnapshotAPIService) DeleteWorkspaceLicenceSnapshot(ctx context.Context, id string) ApiDeleteWorkspaceLicenceSnapshotRequest {
	return ApiDeleteWorkspaceLicenceSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateWorkspaceLicenceSnapshot200Response
func (a *WorkspaceLicenceSnapshotAPIService) DeleteWorkspaceLicenceSnapshotExecute(r ApiDeleteWorkspaceLicenceSnapshotRequest) (*CreateWorkspaceLicenceSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateWorkspaceLicenceSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceLicenceSnapshotAPIService.DeleteWorkspaceLicenceSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workspace-licence-snapshots/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneWorkspaceLicenceSnapshotRequest struct {
	ctx context.Context
	ApiService *WorkspaceLicenceSnapshotAPIService
	id string
}

func (r ApiFindOneWorkspaceLicenceSnapshotRequest) Execute() (*CreateWorkspaceLicenceSnapshot200Response, *http.Response, error) {
	return r.ApiService.FindOneWorkspaceLicenceSnapshotExecute(r)
}

/*
FindOneWorkspaceLicenceSnapshot Get a single workspace-licence-snapshot by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneWorkspaceLicenceSnapshotRequest
*/
func (a *WorkspaceLicenceSnapshotAPIService) FindOneWorkspaceLicenceSnapshot(ctx context.Context, id string) ApiFindOneWorkspaceLicenceSnapshotRequest {
	return ApiFindOneWorkspaceLicenceSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateWorkspaceLicenceSnapshot200Response
func (a *WorkspaceLicenceSnapshotAPIService) FindOneWorkspaceLicenceSnapshotExecute(r ApiFindOneWorkspaceLicenceSnapshotRequest) (*CreateWorkspaceLicenceSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateWorkspaceLicenceSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceLicenceSnapshotAPIService.FindOneWorkspaceLicenceSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workspace-licence-snapshots/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindWorkspaceLicenceSnapshotRequest struct {
	ctx context.Context
	ApiService *WorkspaceLicenceSnapshotAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindWorkspaceLicenceSnapshotRequest) PaginationPage(paginationPage int32) ApiFindWorkspaceLicenceSnapshotRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindWorkspaceLicenceSnapshotRequest) PaginationPageSize(paginationPageSize int32) ApiFindWorkspaceLicenceSnapshotRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindWorkspaceLicenceSnapshotRequest) Filters(filters map[string]interface{}) ApiFindWorkspaceLicenceSnapshotRequest {
	r.filters = &filters
	return r
}

func (r ApiFindWorkspaceLicenceSnapshotRequest) Sort(sort string) ApiFindWorkspaceLicenceSnapshotRequest {
	r.sort = &sort
	return r
}

func (r ApiFindWorkspaceLicenceSnapshotRequest) Populate(populate string) ApiFindWorkspaceLicenceSnapshotRequest {
	r.populate = &populate
	return r
}

func (r ApiFindWorkspaceLicenceSnapshotRequest) Execute() (*FindWorkspaceLicenceSnapshot200Response, *http.Response, error) {
	return r.ApiService.FindWorkspaceLicenceSnapshotExecute(r)
}

/*
FindWorkspaceLicenceSnapshot List workspace-licence-snapshots

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindWorkspaceLicenceSnapshotRequest
*/
func (a *WorkspaceLicenceSnapshotAPIService) FindWorkspaceLicenceSnapshot(ctx context.Context) ApiFindWorkspaceLicenceSnapshotRequest {
	return ApiFindWorkspaceLicenceSnapshotRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindWorkspaceLicenceSnapshot200Response
func (a *WorkspaceLicenceSnapshotAPIService) FindWorkspaceLicenceSnapshotExecute(r ApiFindWorkspaceLicenceSnapshotRequest) (*FindWorkspaceLicenceSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindWorkspaceLicenceSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceLicenceSnapshotAPIService.FindWorkspaceLicenceSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workspace-licence-snapshots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateWorkspaceLicenceSnapshotRequest struct {
	ctx context.Context
	ApiService *WorkspaceLicenceSnapshotAPIService
	id string
	createWorkspaceLicenceSnapshotRequest *CreateWorkspaceLicenceSnapshotRequest
}

func (r ApiUpdateWorkspaceLicenceSnapshotRequest) CreateWorkspaceLicenceSnapshotRequest(createWorkspaceLicenceSnapshotRequest CreateWorkspaceLicenceSnapshotRequest) ApiUpdateWorkspaceLicenceSnapshotRequest {
	r.createWorkspaceLicenceSnapshotRequest = &createWorkspaceLicenceSnapshotRequest
	return r
}

func (r ApiUpdateWorkspaceLicenceSnapshotRequest) Execute() (*CreateWorkspaceLicenceSnapshot200Response, *http.Response, error) {
	return r.ApiService.UpdateWorkspaceLicenceSnapshotExecute(r)
}

/*
UpdateWorkspaceLicenceSnapshot Update a workspace-licence-snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiUpdateWorkspaceLicenceSnapshotRequest
*/
func (a *WorkspaceLicenceSnapshotAPIService) UpdateWorkspaceLicenceSnapshot(ctx context.Context, id string) ApiUpdateWorkspaceLicenceSnapshotRequest {
	return ApiUpdateWorkspaceLicenceSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateWorkspaceLicenceSnapshot200Response
func (a *WorkspaceLicenceSnapshotAPIService) UpdateWorkspaceLicenceSnapshotExecute(r ApiUpdateWorkspaceLicenceSnapshotRequest) (*CreateWorkspaceLicenceSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateWorkspaceLicenceSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkspaceLicenceSnapshotAPIService.UpdateWorkspaceLicenceSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workspace-licence-snapshots/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createWorkspaceLicenceSnapshotRequest == nil {
		return localVarReturnValue, nil, reportError("createWorkspaceLicenceSnapshotRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createWorkspaceLicenceSnapshotRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
