/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AgentMetricSnapshotAPIService AgentMetricSnapshotAPI service
type AgentMetricSnapshotAPIService service

type ApiAgentMetricSnapshotLatestPerAgentRequest struct {
	ctx context.Context
	ApiService *AgentMetricSnapshotAPIService
}

func (r ApiAgentMetricSnapshotLatestPerAgentRequest) Execute() (*http.Response, error) {
	return r.ApiService.AgentMetricSnapshotLatestPerAgentExecute(r)
}

/*
AgentMetricSnapshotLatestPerAgent Get the latest metric snapshot per agent

Accepts either a caller Bearer/API token (results scoped to the caller's organisations) or an internal X-Service-Secret call (unscoped).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAgentMetricSnapshotLatestPerAgentRequest
*/
func (a *AgentMetricSnapshotAPIService) AgentMetricSnapshotLatestPerAgent(ctx context.Context) ApiAgentMetricSnapshotLatestPerAgentRequest {
	return ApiAgentMetricSnapshotLatestPerAgentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AgentMetricSnapshotAPIService) AgentMetricSnapshotLatestPerAgentExecute(r ApiAgentMetricSnapshotLatestPerAgentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentMetricSnapshotAPIService.AgentMetricSnapshotLatestPerAgent")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agent-metric-snapshots/latest"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["serviceSecret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Service-Secret"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCreateAgentMetricSnapshotRequest struct {
	ctx context.Context
	ApiService *AgentMetricSnapshotAPIService
	createAgentMetricSnapshotRequest *CreateAgentMetricSnapshotRequest
}

func (r ApiCreateAgentMetricSnapshotRequest) CreateAgentMetricSnapshotRequest(createAgentMetricSnapshotRequest CreateAgentMetricSnapshotRequest) ApiCreateAgentMetricSnapshotRequest {
	r.createAgentMetricSnapshotRequest = &createAgentMetricSnapshotRequest
	return r
}

func (r ApiCreateAgentMetricSnapshotRequest) Execute() (*CreateAgentMetricSnapshot200Response, *http.Response, error) {
	return r.ApiService.CreateAgentMetricSnapshotExecute(r)
}

/*
CreateAgentMetricSnapshot Create a agent-metric-snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateAgentMetricSnapshotRequest
*/
func (a *AgentMetricSnapshotAPIService) CreateAgentMetricSnapshot(ctx context.Context) ApiCreateAgentMetricSnapshotRequest {
	return ApiCreateAgentMetricSnapshotRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateAgentMetricSnapshot200Response
func (a *AgentMetricSnapshotAPIService) CreateAgentMetricSnapshotExecute(r ApiCreateAgentMetricSnapshotRequest) (*CreateAgentMetricSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateAgentMetricSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentMetricSnapshotAPIService.CreateAgentMetricSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agent-metric-snapshots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createAgentMetricSnapshotRequest == nil {
		return localVarReturnValue, nil, reportError("createAgentMetricSnapshotRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createAgentMetricSnapshotRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindAgentMetricSnapshotRequest struct {
	ctx context.Context
	ApiService *AgentMetricSnapshotAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindAgentMetricSnapshotRequest) PaginationPage(paginationPage int32) ApiFindAgentMetricSnapshotRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindAgentMetricSnapshotRequest) PaginationPageSize(paginationPageSize int32) ApiFindAgentMetricSnapshotRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindAgentMetricSnapshotRequest) Filters(filters map[string]interface{}) ApiFindAgentMetricSnapshotRequest {
	r.filters = &filters
	return r
}

func (r ApiFindAgentMetricSnapshotRequest) Sort(sort string) ApiFindAgentMetricSnapshotRequest {
	r.sort = &sort
	return r
}

func (r ApiFindAgentMetricSnapshotRequest) Populate(populate string) ApiFindAgentMetricSnapshotRequest {
	r.populate = &populate
	return r
}

func (r ApiFindAgentMetricSnapshotRequest) Execute() (*FindAgentMetricSnapshot200Response, *http.Response, error) {
	return r.ApiService.FindAgentMetricSnapshotExecute(r)
}

/*
FindAgentMetricSnapshot List agent-metric-snapshots

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindAgentMetricSnapshotRequest
*/
func (a *AgentMetricSnapshotAPIService) FindAgentMetricSnapshot(ctx context.Context) ApiFindAgentMetricSnapshotRequest {
	return ApiFindAgentMetricSnapshotRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindAgentMetricSnapshot200Response
func (a *AgentMetricSnapshotAPIService) FindAgentMetricSnapshotExecute(r ApiFindAgentMetricSnapshotRequest) (*FindAgentMetricSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindAgentMetricSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentMetricSnapshotAPIService.FindAgentMetricSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agent-metric-snapshots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
