/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MS365LicenceSnapshotAPIService MS365LicenceSnapshotAPI service
type MS365LicenceSnapshotAPIService service

type ApiCreateMs365LicenceSnapshotRequest struct {
	ctx context.Context
	ApiService *MS365LicenceSnapshotAPIService
	createMs365LicenceSnapshotRequest *CreateMs365LicenceSnapshotRequest
}

func (r ApiCreateMs365LicenceSnapshotRequest) CreateMs365LicenceSnapshotRequest(createMs365LicenceSnapshotRequest CreateMs365LicenceSnapshotRequest) ApiCreateMs365LicenceSnapshotRequest {
	r.createMs365LicenceSnapshotRequest = &createMs365LicenceSnapshotRequest
	return r
}

func (r ApiCreateMs365LicenceSnapshotRequest) Execute() (*CreateMs365LicenceSnapshot200Response, *http.Response, error) {
	return r.ApiService.CreateMs365LicenceSnapshotExecute(r)
}

/*
CreateMs365LicenceSnapshot Create a ms365-licence-snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateMs365LicenceSnapshotRequest
*/
func (a *MS365LicenceSnapshotAPIService) CreateMs365LicenceSnapshot(ctx context.Context) ApiCreateMs365LicenceSnapshotRequest {
	return ApiCreateMs365LicenceSnapshotRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateMs365LicenceSnapshot200Response
func (a *MS365LicenceSnapshotAPIService) CreateMs365LicenceSnapshotExecute(r ApiCreateMs365LicenceSnapshotRequest) (*CreateMs365LicenceSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateMs365LicenceSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MS365LicenceSnapshotAPIService.CreateMs365LicenceSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ms365-licence-snapshots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createMs365LicenceSnapshotRequest == nil {
		return localVarReturnValue, nil, reportError("createMs365LicenceSnapshotRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createMs365LicenceSnapshotRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteMs365LicenceSnapshotRequest struct {
	ctx context.Context
	ApiService *MS365LicenceSnapshotAPIService
	id string
}

func (r ApiDeleteMs365LicenceSnapshotRequest) Execute() (*CreateMs365LicenceSnapshot200Response, *http.Response, error) {
	return r.ApiService.DeleteMs365LicenceSnapshotExecute(r)
}

/*
DeleteMs365LicenceSnapshot Delete a ms365-licence-snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiDeleteMs365LicenceSnapshotRequest
*/
func (a *MS365LicenceSnapshotAPIService) DeleteMs365LicenceSnapshot(ctx context.Context, id string) ApiDeleteMs365LicenceSnapshotRequest {
	return ApiDeleteMs365LicenceSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateMs365LicenceSnapshot200Response
func (a *MS365LicenceSnapshotAPIService) DeleteMs365LicenceSnapshotExecute(r ApiDeleteMs365LicenceSnapshotRequest) (*CreateMs365LicenceSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateMs365LicenceSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MS365LicenceSnapshotAPIService.DeleteMs365LicenceSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ms365-licence-snapshots/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindMs365LicenceSnapshotRequest struct {
	ctx context.Context
	ApiService *MS365LicenceSnapshotAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindMs365LicenceSnapshotRequest) PaginationPage(paginationPage int32) ApiFindMs365LicenceSnapshotRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindMs365LicenceSnapshotRequest) PaginationPageSize(paginationPageSize int32) ApiFindMs365LicenceSnapshotRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindMs365LicenceSnapshotRequest) Filters(filters map[string]interface{}) ApiFindMs365LicenceSnapshotRequest {
	r.filters = &filters
	return r
}

func (r ApiFindMs365LicenceSnapshotRequest) Sort(sort string) ApiFindMs365LicenceSnapshotRequest {
	r.sort = &sort
	return r
}

func (r ApiFindMs365LicenceSnapshotRequest) Populate(populate string) ApiFindMs365LicenceSnapshotRequest {
	r.populate = &populate
	return r
}

func (r ApiFindMs365LicenceSnapshotRequest) Execute() (*FindMs365LicenceSnapshot200Response, *http.Response, error) {
	return r.ApiService.FindMs365LicenceSnapshotExecute(r)
}

/*
FindMs365LicenceSnapshot List ms365-licence-snapshots

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindMs365LicenceSnapshotRequest
*/
func (a *MS365LicenceSnapshotAPIService) FindMs365LicenceSnapshot(ctx context.Context) ApiFindMs365LicenceSnapshotRequest {
	return ApiFindMs365LicenceSnapshotRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindMs365LicenceSnapshot200Response
func (a *MS365LicenceSnapshotAPIService) FindMs365LicenceSnapshotExecute(r ApiFindMs365LicenceSnapshotRequest) (*FindMs365LicenceSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindMs365LicenceSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MS365LicenceSnapshotAPIService.FindMs365LicenceSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ms365-licence-snapshots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneMs365LicenceSnapshotRequest struct {
	ctx context.Context
	ApiService *MS365LicenceSnapshotAPIService
	id string
}

func (r ApiFindOneMs365LicenceSnapshotRequest) Execute() (*CreateMs365LicenceSnapshot200Response, *http.Response, error) {
	return r.ApiService.FindOneMs365LicenceSnapshotExecute(r)
}

/*
FindOneMs365LicenceSnapshot Get a single ms365-licence-snapshot by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneMs365LicenceSnapshotRequest
*/
func (a *MS365LicenceSnapshotAPIService) FindOneMs365LicenceSnapshot(ctx context.Context, id string) ApiFindOneMs365LicenceSnapshotRequest {
	return ApiFindOneMs365LicenceSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateMs365LicenceSnapshot200Response
func (a *MS365LicenceSnapshotAPIService) FindOneMs365LicenceSnapshotExecute(r ApiFindOneMs365LicenceSnapshotRequest) (*CreateMs365LicenceSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateMs365LicenceSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MS365LicenceSnapshotAPIService.FindOneMs365LicenceSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ms365-licence-snapshots/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateMs365LicenceSnapshotRequest struct {
	ctx context.Context
	ApiService *MS365LicenceSnapshotAPIService
	id string
	createMs365LicenceSnapshotRequest *CreateMs365LicenceSnapshotRequest
}

func (r ApiUpdateMs365LicenceSnapshotRequest) CreateMs365LicenceSnapshotRequest(createMs365LicenceSnapshotRequest CreateMs365LicenceSnapshotRequest) ApiUpdateMs365LicenceSnapshotRequest {
	r.createMs365LicenceSnapshotRequest = &createMs365LicenceSnapshotRequest
	return r
}

func (r ApiUpdateMs365LicenceSnapshotRequest) Execute() (*CreateMs365LicenceSnapshot200Response, *http.Response, error) {
	return r.ApiService.UpdateMs365LicenceSnapshotExecute(r)
}

/*
UpdateMs365LicenceSnapshot Update a ms365-licence-snapshot

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiUpdateMs365LicenceSnapshotRequest
*/
func (a *MS365LicenceSnapshotAPIService) UpdateMs365LicenceSnapshot(ctx context.Context, id string) ApiUpdateMs365LicenceSnapshotRequest {
	return ApiUpdateMs365LicenceSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateMs365LicenceSnapshot200Response
func (a *MS365LicenceSnapshotAPIService) UpdateMs365LicenceSnapshotExecute(r ApiUpdateMs365LicenceSnapshotRequest) (*CreateMs365LicenceSnapshot200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateMs365LicenceSnapshot200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MS365LicenceSnapshotAPIService.UpdateMs365LicenceSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/ms365-licence-snapshots/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createMs365LicenceSnapshotRequest == nil {
		return localVarReturnValue, nil, reportError("createMs365LicenceSnapshotRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createMs365LicenceSnapshotRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
