/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OrganisationCrossTenantRoleAPIService OrganisationCrossTenantRoleAPI service
type OrganisationCrossTenantRoleAPIService service

type ApiCreateOrganisationCrossTenantRoleRequest struct {
	ctx context.Context
	ApiService *OrganisationCrossTenantRoleAPIService
	createOrganisationCrossTenantRoleRequest *CreateOrganisationCrossTenantRoleRequest
}

func (r ApiCreateOrganisationCrossTenantRoleRequest) CreateOrganisationCrossTenantRoleRequest(createOrganisationCrossTenantRoleRequest CreateOrganisationCrossTenantRoleRequest) ApiCreateOrganisationCrossTenantRoleRequest {
	r.createOrganisationCrossTenantRoleRequest = &createOrganisationCrossTenantRoleRequest
	return r
}

func (r ApiCreateOrganisationCrossTenantRoleRequest) Execute() (*CreateOrganisationCrossTenantRole200Response, *http.Response, error) {
	return r.ApiService.CreateOrganisationCrossTenantRoleExecute(r)
}

/*
CreateOrganisationCrossTenantRole Create a organisation-cross-tenant-role

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateOrganisationCrossTenantRoleRequest
*/
func (a *OrganisationCrossTenantRoleAPIService) CreateOrganisationCrossTenantRole(ctx context.Context) ApiCreateOrganisationCrossTenantRoleRequest {
	return ApiCreateOrganisationCrossTenantRoleRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateOrganisationCrossTenantRole200Response
func (a *OrganisationCrossTenantRoleAPIService) CreateOrganisationCrossTenantRoleExecute(r ApiCreateOrganisationCrossTenantRoleRequest) (*CreateOrganisationCrossTenantRole200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateOrganisationCrossTenantRole200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganisationCrossTenantRoleAPIService.CreateOrganisationCrossTenantRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organisation-cross-tenant-roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createOrganisationCrossTenantRoleRequest == nil {
		return localVarReturnValue, nil, reportError("createOrganisationCrossTenantRoleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createOrganisationCrossTenantRoleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteOrganisationCrossTenantRoleRequest struct {
	ctx context.Context
	ApiService *OrganisationCrossTenantRoleAPIService
	id string
}

func (r ApiDeleteOrganisationCrossTenantRoleRequest) Execute() (*CreateOrganisationCrossTenantRole200Response, *http.Response, error) {
	return r.ApiService.DeleteOrganisationCrossTenantRoleExecute(r)
}

/*
DeleteOrganisationCrossTenantRole Delete a organisation-cross-tenant-role

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiDeleteOrganisationCrossTenantRoleRequest
*/
func (a *OrganisationCrossTenantRoleAPIService) DeleteOrganisationCrossTenantRole(ctx context.Context, id string) ApiDeleteOrganisationCrossTenantRoleRequest {
	return ApiDeleteOrganisationCrossTenantRoleRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateOrganisationCrossTenantRole200Response
func (a *OrganisationCrossTenantRoleAPIService) DeleteOrganisationCrossTenantRoleExecute(r ApiDeleteOrganisationCrossTenantRoleRequest) (*CreateOrganisationCrossTenantRole200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateOrganisationCrossTenantRole200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganisationCrossTenantRoleAPIService.DeleteOrganisationCrossTenantRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organisation-cross-tenant-roles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneOrganisationCrossTenantRoleRequest struct {
	ctx context.Context
	ApiService *OrganisationCrossTenantRoleAPIService
	id string
}

func (r ApiFindOneOrganisationCrossTenantRoleRequest) Execute() (*CreateOrganisationCrossTenantRole200Response, *http.Response, error) {
	return r.ApiService.FindOneOrganisationCrossTenantRoleExecute(r)
}

/*
FindOneOrganisationCrossTenantRole Get a single organisation-cross-tenant-role by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneOrganisationCrossTenantRoleRequest
*/
func (a *OrganisationCrossTenantRoleAPIService) FindOneOrganisationCrossTenantRole(ctx context.Context, id string) ApiFindOneOrganisationCrossTenantRoleRequest {
	return ApiFindOneOrganisationCrossTenantRoleRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateOrganisationCrossTenantRole200Response
func (a *OrganisationCrossTenantRoleAPIService) FindOneOrganisationCrossTenantRoleExecute(r ApiFindOneOrganisationCrossTenantRoleRequest) (*CreateOrganisationCrossTenantRole200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateOrganisationCrossTenantRole200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganisationCrossTenantRoleAPIService.FindOneOrganisationCrossTenantRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organisation-cross-tenant-roles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOrganisationCrossTenantRoleRequest struct {
	ctx context.Context
	ApiService *OrganisationCrossTenantRoleAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindOrganisationCrossTenantRoleRequest) PaginationPage(paginationPage int32) ApiFindOrganisationCrossTenantRoleRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindOrganisationCrossTenantRoleRequest) PaginationPageSize(paginationPageSize int32) ApiFindOrganisationCrossTenantRoleRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindOrganisationCrossTenantRoleRequest) Filters(filters map[string]interface{}) ApiFindOrganisationCrossTenantRoleRequest {
	r.filters = &filters
	return r
}

func (r ApiFindOrganisationCrossTenantRoleRequest) Sort(sort string) ApiFindOrganisationCrossTenantRoleRequest {
	r.sort = &sort
	return r
}

func (r ApiFindOrganisationCrossTenantRoleRequest) Populate(populate string) ApiFindOrganisationCrossTenantRoleRequest {
	r.populate = &populate
	return r
}

func (r ApiFindOrganisationCrossTenantRoleRequest) Execute() (*FindOrganisationCrossTenantRole200Response, *http.Response, error) {
	return r.ApiService.FindOrganisationCrossTenantRoleExecute(r)
}

/*
FindOrganisationCrossTenantRole List organisation-cross-tenant-roles

Agency/MSP operator roles that define capability-gated access across managed tenants. System roles are seeded and cannot be deleted via API.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindOrganisationCrossTenantRoleRequest
*/
func (a *OrganisationCrossTenantRoleAPIService) FindOrganisationCrossTenantRole(ctx context.Context) ApiFindOrganisationCrossTenantRoleRequest {
	return ApiFindOrganisationCrossTenantRoleRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindOrganisationCrossTenantRole200Response
func (a *OrganisationCrossTenantRoleAPIService) FindOrganisationCrossTenantRoleExecute(r ApiFindOrganisationCrossTenantRoleRequest) (*FindOrganisationCrossTenantRole200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindOrganisationCrossTenantRole200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganisationCrossTenantRoleAPIService.FindOrganisationCrossTenantRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organisation-cross-tenant-roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateOrganisationCrossTenantRoleRequest struct {
	ctx context.Context
	ApiService *OrganisationCrossTenantRoleAPIService
	id string
	createOrganisationCrossTenantRoleRequest *CreateOrganisationCrossTenantRoleRequest
}

func (r ApiUpdateOrganisationCrossTenantRoleRequest) CreateOrganisationCrossTenantRoleRequest(createOrganisationCrossTenantRoleRequest CreateOrganisationCrossTenantRoleRequest) ApiUpdateOrganisationCrossTenantRoleRequest {
	r.createOrganisationCrossTenantRoleRequest = &createOrganisationCrossTenantRoleRequest
	return r
}

func (r ApiUpdateOrganisationCrossTenantRoleRequest) Execute() (*CreateOrganisationCrossTenantRole200Response, *http.Response, error) {
	return r.ApiService.UpdateOrganisationCrossTenantRoleExecute(r)
}

/*
UpdateOrganisationCrossTenantRole Update a organisation-cross-tenant-role

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiUpdateOrganisationCrossTenantRoleRequest
*/
func (a *OrganisationCrossTenantRoleAPIService) UpdateOrganisationCrossTenantRole(ctx context.Context, id string) ApiUpdateOrganisationCrossTenantRoleRequest {
	return ApiUpdateOrganisationCrossTenantRoleRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CreateOrganisationCrossTenantRole200Response
func (a *OrganisationCrossTenantRoleAPIService) UpdateOrganisationCrossTenantRoleExecute(r ApiUpdateOrganisationCrossTenantRoleRequest) (*CreateOrganisationCrossTenantRole200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateOrganisationCrossTenantRole200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganisationCrossTenantRoleAPIService.UpdateOrganisationCrossTenantRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organisation-cross-tenant-roles/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createOrganisationCrossTenantRoleRequest == nil {
		return localVarReturnValue, nil, reportError("createOrganisationCrossTenantRoleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createOrganisationCrossTenantRoleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
