/*
Sencai Platform API

Consolidated OpenAPI 3.x specification for the Sencai platform backend (`/api/v1/_*`). Covers auto-discovered CRUD content-types plus hand-documented custom routes. See `openapi/README.md` for regeneration instructions and versioning/deprecation policy (`SUNSET_DATE` env convention, see doc.sencai.space/dev/api-versioning).

API version: 1.0.0
Contact: api@sencai.space
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sencaisdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// KnowledgeEdgeAPIService KnowledgeEdgeAPI service
type KnowledgeEdgeAPIService service

type ApiDeleteKnowledgeEdgeRequest struct {
	ctx context.Context
	ApiService *KnowledgeEdgeAPIService
	id string
}

func (r ApiDeleteKnowledgeEdgeRequest) Execute() (*FindOneKnowledgeEdge200Response, *http.Response, error) {
	return r.ApiService.DeleteKnowledgeEdgeExecute(r)
}

/*
DeleteKnowledgeEdge Delete a knowledge-edge

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiDeleteKnowledgeEdgeRequest
*/
func (a *KnowledgeEdgeAPIService) DeleteKnowledgeEdge(ctx context.Context, id string) ApiDeleteKnowledgeEdgeRequest {
	return ApiDeleteKnowledgeEdgeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return FindOneKnowledgeEdge200Response
func (a *KnowledgeEdgeAPIService) DeleteKnowledgeEdgeExecute(r ApiDeleteKnowledgeEdgeRequest) (*FindOneKnowledgeEdge200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindOneKnowledgeEdge200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeEdgeAPIService.DeleteKnowledgeEdge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/knowledge-edges/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindKnowledgeEdgeRequest struct {
	ctx context.Context
	ApiService *KnowledgeEdgeAPIService
	paginationPage *int32
	paginationPageSize *int32
	filters *map[string]interface{}
	sort *string
	populate *string
}

func (r ApiFindKnowledgeEdgeRequest) PaginationPage(paginationPage int32) ApiFindKnowledgeEdgeRequest {
	r.paginationPage = &paginationPage
	return r
}

func (r ApiFindKnowledgeEdgeRequest) PaginationPageSize(paginationPageSize int32) ApiFindKnowledgeEdgeRequest {
	r.paginationPageSize = &paginationPageSize
	return r
}

// Strapi REST filter syntax
func (r ApiFindKnowledgeEdgeRequest) Filters(filters map[string]interface{}) ApiFindKnowledgeEdgeRequest {
	r.filters = &filters
	return r
}

func (r ApiFindKnowledgeEdgeRequest) Sort(sort string) ApiFindKnowledgeEdgeRequest {
	r.sort = &sort
	return r
}

func (r ApiFindKnowledgeEdgeRequest) Populate(populate string) ApiFindKnowledgeEdgeRequest {
	r.populate = &populate
	return r
}

func (r ApiFindKnowledgeEdgeRequest) Execute() (*FindKnowledgeEdge200Response, *http.Response, error) {
	return r.ApiService.FindKnowledgeEdgeExecute(r)
}

/*
FindKnowledgeEdge List knowledge-edges

Directed edge in the operational knowledge graph. Represents a typed relationship between two knowledge nodes, including provenance (which platform event changed it) and a recency weight.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFindKnowledgeEdgeRequest
*/
func (a *KnowledgeEdgeAPIService) FindKnowledgeEdge(ctx context.Context) ApiFindKnowledgeEdgeRequest {
	return ApiFindKnowledgeEdgeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FindKnowledgeEdge200Response
func (a *KnowledgeEdgeAPIService) FindKnowledgeEdgeExecute(r ApiFindKnowledgeEdgeRequest) (*FindKnowledgeEdge200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindKnowledgeEdge200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeEdgeAPIService.FindKnowledgeEdge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/knowledge-edges"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.paginationPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[page]", r.paginationPage, "form", "")
	}
	if r.paginationPageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pagination[pageSize]", r.paginationPageSize, "form", "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filters", r.filters, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.populate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "populate", r.populate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFindOneKnowledgeEdgeRequest struct {
	ctx context.Context
	ApiService *KnowledgeEdgeAPIService
	id string
}

func (r ApiFindOneKnowledgeEdgeRequest) Execute() (*FindOneKnowledgeEdge200Response, *http.Response, error) {
	return r.ApiService.FindOneKnowledgeEdgeExecute(r)
}

/*
FindOneKnowledgeEdge Get a single knowledge-edge by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiFindOneKnowledgeEdgeRequest
*/
func (a *KnowledgeEdgeAPIService) FindOneKnowledgeEdge(ctx context.Context, id string) ApiFindOneKnowledgeEdgeRequest {
	return ApiFindOneKnowledgeEdgeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return FindOneKnowledgeEdge200Response
func (a *KnowledgeEdgeAPIService) FindOneKnowledgeEdgeExecute(r ApiFindOneKnowledgeEdgeRequest) (*FindOneKnowledgeEdge200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindOneKnowledgeEdge200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeEdgeAPIService.FindOneKnowledgeEdge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/knowledge-edges/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateKnowledgeEdgeRequest struct {
	ctx context.Context
	ApiService *KnowledgeEdgeAPIService
	id string
	updateKnowledgeEdgeRequest *UpdateKnowledgeEdgeRequest
}

func (r ApiUpdateKnowledgeEdgeRequest) UpdateKnowledgeEdgeRequest(updateKnowledgeEdgeRequest UpdateKnowledgeEdgeRequest) ApiUpdateKnowledgeEdgeRequest {
	r.updateKnowledgeEdgeRequest = &updateKnowledgeEdgeRequest
	return r
}

func (r ApiUpdateKnowledgeEdgeRequest) Execute() (*FindOneKnowledgeEdge200Response, *http.Response, error) {
	return r.ApiService.UpdateKnowledgeEdgeExecute(r)
}

/*
UpdateKnowledgeEdge Update a knowledge-edge

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id documentId
 @return ApiUpdateKnowledgeEdgeRequest
*/
func (a *KnowledgeEdgeAPIService) UpdateKnowledgeEdge(ctx context.Context, id string) ApiUpdateKnowledgeEdgeRequest {
	return ApiUpdateKnowledgeEdgeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return FindOneKnowledgeEdge200Response
func (a *KnowledgeEdgeAPIService) UpdateKnowledgeEdgeExecute(r ApiUpdateKnowledgeEdgeRequest) (*FindOneKnowledgeEdge200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FindOneKnowledgeEdge200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "KnowledgeEdgeAPIService.UpdateKnowledgeEdge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/knowledge-edges/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateKnowledgeEdgeRequest == nil {
		return localVarReturnValue, nil, reportError("updateKnowledgeEdgeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateKnowledgeEdgeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
